.wrapper {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  border-style: none;
  flex-direction: column;
  }


.scroll {
 height: 50px;	
 overflow: hidden;
 position: relative;
 font-family: 'Futura Std';
 font-weight: bold;
 font-style: italic;
}
.scroll h3 {
 font-size: 1em;
 color: blue;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll 15s linear infinite;
 -webkit-animation: scroll 15s linear infinite;
 animation: scroll 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.your-style {
    font-family: 'Futura Std';
    font-weight: bold;
    font-style: italic;
}

.caslon {
    font-family: 'Big Caslon';
    font-weight: 500;
    font-style: normal;
}

.container-grid {
  list-style: none;  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
justify-content: space-between;
}

.box {
  display: flex;
  transition: background-color 0.5s ease;
  background: white;
  width: 23%;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: .7em;
  text-align: center;
  justify-content: space-between;
  height: 40%;
  border-left:.5px solid black;
  border-right:.5px solid black;
  flex-direction: column;
  min-width: 200px;
}

#header-box {
  display: flex;
  border-top:1px solid black;
  border-bottom:1px solid black;
  width: 100%;
  justify-content: flex-star;
  align-content: flex-start;
  font-family: 'Big Caslon';
  min-height: 25px;
}

#end-matter {
  display: flex;
  border-top:10px solid black;
  border-bottom:10px solid black;
  border-width: .5px;
  width: 100%;
  justify-content: space-around;
  font-size: .8vw;
}

#sign-photo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sign-copy {
  display: flex;
  padding-left: 5px;
  font-size: 1vw;
}

#signimg {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
}


.overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
 }

.box:hover {
  opacity: 1;
  background-color: black;
}

a{ 
text-decoration: none;
}

.leo-horoscope {
  display: flex;
  background: white;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
    font-family: 'Big Caslon'; 
  
}

.capricorn-horoscope {
  display: flex;
  background: white;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  justify-content: center;
  flex-direction: column;
    font-family: 'Big Caslon'; 
  
}

.gif {
  display: flex;
  background: white;
  margin: 10px;
  color: black;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  justify-content: center;
    font-family: 'Big Caslon';
}
#confetti{
	background: #000;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: -1;
}